@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --youtube: hsl(348, 97%, 39%);
    --toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --lime_green: hsl(163, 72%, 41%);
    --bright_red: hsl(356, 69%, 56%);
    --bg_color: hsl(230, 17%, 14%);
    --bg_top_color: hsl(232, 19%, 15%);
    --card_bg: hsl(228, 28%, 20%);
    --text_color: hsl(228, 34%, 66%);
    --big_text_color: hsl(0, 0%, 100%);
    --btn_bg: hsl(230, 17%, 14%);
}

.light_mode {
    --btn_bg: hsl(0, 0%, 100%);
    --toggle: hsl(230, 22%, 74%);
    --bg_color: hsl(0, 0%, 100%);
    --bg_top_color: hsl(225, 100%, 98%);
    --card_bg: hsl(227, 47%, 96%);
    --text_color: hsl(228, 12%, 44%);
    --big_text_color: hsl(230, 17%, 14%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* transition: .3s ease; */
}

body {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg_color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    color: var(--bright_red);
}

.facebook {
    border-color: var(--facebook);
}

.twitter {
    border-color: var(--twitter);

}

.instagram {
    border-color: rgba(193, 29, 108, 0.999);
}

.youtube {
    border-color: var(--youtube);
}

.container {
    min-height: 100vh;
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 75%;
}

@media(max-width: 1240px) {
    .container {
        width: 72.1%;
        min-width: 873px;
        padding: 2.5rem 0rem 0rem 0rem;
    }

    .box {
        max-width: 200px;
        height: 190px;
    }

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title_box h2 {
    font-size: 30px;
    color: var(--big_text_color);
    font-weight: 800;
}

.header p {
    font-size: 15px;
    font-weight: bold;
    color: var(--text_color);
}

.theme_switcher {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.toggler {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2.5px;
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background: var(--toggle);
    overflow: hidden;
    position: relative;
    transition: background .3s ease;
}

.togglerBtn {
    background-color: var(--btn_bg);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    overflow: hidden;
    transition: left 0.3s ease;
}


.toggler.right .togglerBtn {
    left: 22px;
    background: var(--btn_bg);
}

.toggler.right {
    background: var(--toggle);
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.box {
    width: 244px;
    border-radius: 5px;
    height: 190px;
    display: flex;
    align-items: center;
    border-top-width: 4px;
    border-top-style: solid;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--text_color);
    background-color: var(--card_bg);
}

.username {
    font-weight: 800;
}

.box_header {
    display: flex;
    justify-content: space-around;
    gap: .5rem;
    align-items: center;
}

.box_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_body h1 {
    font-size: 3rem;
    color: var(--big_text_color);
}

.box_body p {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 12px;
}

.box_footer {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-weight: bold;
    color: var(--lime_green);
}

.overview_container {
    flex-direction: column;
}